<html class="no-js" lang="en">

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>

                                </li>

                                <li><i class="fi-rs-user"></i><a href="/logout">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="header-right">


                <div class="header-action-right">
                    <div class="header-action-2">

                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/getcart">
                                <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                <!-- <span class="pro-count blue">2</span> -->
                            </a>
                        </div>
                        <a href="shop-checkout.html"></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.jpg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">

                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's
                                            Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Dresses</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Blouses & Shirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Hoodies & Sweatshirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Women's Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suits & Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Bodysuits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Tanks & Camis</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Coats & Jackets</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Bottoms</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Leggings</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Skirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Shorts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Jeans</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Pants & Capris</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Bikini Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Cover-Ups</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Swimwear</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-2.jpg"
                                                            alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-3.jpg"
                                                            alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's
                                            Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Jackets & Coats</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Down Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Parkas</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Faux Leather Coats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Trench</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Wool & Blends</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Vests & Waistcoats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Leather Coats</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Suits & Blazers</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suit Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suit Pants</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Vests</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Tailor-made Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Cover-Ups</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-4.jpg"
                                                            alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>
                                            Cellphones</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Cellphones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">iPhones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Refurbished Phones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Mobile Phone</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Mobile Phone Parts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Phone Bags & Cases</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Communication Equipments</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Walkie Talkie</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Accessories</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Screen Protectors</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Wire Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Wireless Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Car Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Power Bank</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Armbands</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Dust Plug</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Signal Boosters</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-5.jpg"
                                                            alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-6.jpg"
                                                            alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                            Office</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                            Electronics</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Jewelry &
                                            Accessories</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                            Kids</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a>
                                    </li>
                                    <li>
                                        <ul class="more_slide_open" style="display: none;">
                                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Beauty,
                                                    Health</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bags and
                                                    Shoes</a></li>
                                            <li><a href="shop-grid-right.html"><i
                                                        class="evara-font-diamond"></i>Consumer Electronics</a></li>
                                            <li><a href="shop-grid-right.html"><i
                                                        class="evara-font-home"></i>Automobiles & Motorcycles</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="more_categories">Show more...</div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">Home <i class="fi-rs-angle-down"></i></a>

                                    </li>

                                    <li><a href="shop-grid-right.html">Shop <i class="fi-rs-angle-down"></i></a>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a href="/getcart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count white">2</span>
                                </a> -->
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>

                                                <div class="shopping-cart-footer">
                                                    <div class="shopping-cart-total">
                                                        <h4>Total <span>$383.00</span></h4>
                                                    </div>
                                                    <div class="shopping-cart-button">
                                                        <a href="shop-cart.html">View cart</a>
                                                        <a href="shop-cart.html">Checkout</a>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>

                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>

                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">

            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">

                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details
                                    below. If you are a new customer, please proceed to the Billing &amp; Shipping
                                    section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox"
                                                    id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember
                                                        me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>


                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th colspan="2">Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i < userCart.items.length; i++) { %>
                                        <tr>
                                            <td class="image product-thumbnail">
                                                <img src="/public/images/<%= userCart.items[i].product.productImage[0] %>"
                                                    alt="Product Image">
                                            </td>
                                            <td>
                                                <h5><a href="shop-product-full.html">
                                                        <%= userCart.items[i].product.productName %>
                                                    </a></h5>
                                                <span class="product-qty">x<%= userCart.items[i].quantity %> </span>
                                            </td>
                                            <td>
                                                <% if (userCart.items[i].product.offerPrice) { %>
                                                  <%= userCart.items[i].product.offerPrice %>
                                                <% } else { %>
                                                  <%= userCart.items[i].product.price %>
                                                <% } %>
                                              </td>
                                            <td colspan="2" class="productTotal">
                                                <% if (userCart.items[i].product.offerPrice) { %>
                                                    <%= userCart.items[i].product.offerPrice * userCart.items[i].quantity %>
                                                  <% } else { %>
                                                    <%= userCart.items[i].product.price * userCart.items[i].quantity %>
                                                  <% } %>
                                            </td>
                                        </tr>
                                        <% } %>

                                            <tr>
                                                <th>SubTotal</th>
                                                <td class="product-subtotal" colspan="3"></td>
                                            </tr>

                                            <tr>
                                                <th>Discount</th>
                                                <td colspan="3"><em id="discount"></em></td>
                                                <!-- <input type="text" name="coupon" id="discount"
                                                class="product-discount"> -->
                                            </tr>
                                            <tr>
                                                <th>Total</th>
                                                <td colspan="3" class="product-subtotal" id="grandTotals"></td>
                                                <input type="text" name="totalprice" id="total"
                                                    class="product-subtotal">
                                            </tr>

                                </tbody>
                            </table>
                            <div class="col-lg-6">
                                <div class="toggle_info">
                                    <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                                            coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                           
                                            aria-expanded="false" >Click here to enter your code</a></span>
                                </div>
                                <div class="panel-collapse collapse coupon_form " id="coupon">
                                    <div class="panel-body">
                                        <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                        <form method="post">
                                            <div class="form-group">
                                                <input type="text" placeholder="Enter Coupon Code..." id="couponcode">
                                            </div>
                                            <div class="form-group" style="margin-bottom: 20px;">
                                                <button class="btn btn-md" id="applyCouponBtn" style=" margin-left: 60px;" type="button">Apply Coupon</button>
                                                 <button class="btn btn-md" id="removeCouponBtn" style="display:none;background-color: red; color:white ; margin-left: 60px;" type="button">Remove Coupon</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" id="availableCouponBtn" data-toggle="modal"
                            data-target="#exampleModalLong" >
                            Available Coupons
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Coupon title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <% coupons.forEach(coupon=> { %>
                                            <div class="col-md-12 mb-3">
                                                <div class="card">
                                                    <div class="card-body">

                                                        <p class="card-text">
                                                            <%= coupon.couponName %> : <%= coupon.couponCode %>
                                                        </p>
                                                        <button class="btn btn-xs btn-primary copy-code-btn"
                                                            data-code="<%= coupon.couponCode %>"
                                                            style="padding: 0.24rem 0.4rem; font-size: 0.70rem;">Copy
                                                            Code</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div>

                            <% if (currAddress.length> 0) { %>
                                <% currAddress.forEach((el)=> { %>
                                    <div class="col-lg-3 address">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <div class="card-body">
                                                    <div></div>
                                                    <input type="radio" class="addressSelection"
                                                        id="myAddressRadio<%= el._id %>" name="addressSelection"
                                                        value="<%= el._id %>" style="transform: scale(0.4);">
                                                    <label for="myAddressRadio<%= el._id %>"
                                                        style="font-weight: bold;">My Address</label>
                                                    <address>
                                                        <div class="address-details">
                                                            <%= el.HouseName %><br>
                                                                <%= el.landMark %>,<br>
                                                                    <%= el.city %>, <%= el.state %><br>
                                                                            <%= el.pincode %><br>
                                                                                <%= el.country %>
                                                        </div>
                                                        <p>Phone: <%= el.phone %>
                                                        </p>
                                                        <p>Name: <%= el.Name %>
                                                        </p>
                                                    </address>
                                                    <!-- <a href="/getAddress" class="btn btn-primary btn-small mt-4">Add Address</a></button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } %>
                        </div>


                       
                        <input type="hidden" name="total" id="" value="">
                    </div>
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    <div class="payment_method">
                        <div class="mb-25">
                            <h5>Payment</h5>
                        </div>
                        <div class="payment_option">
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option"
                                    value='COD' id="exampleRadios3" checked="">
                                <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                    data-target="#bankTranfer" aria-controls="bankTranfer">Cash On Delivery</label>
                                <div class="razorpay-option">
                                    <input class="form-check-input" required="" type="radio" name="payment_option"
                                        id="exampleRadios2" value="razorpay">
                                    <label class="form-check-label" for="exampleRadios2">RazorPay</label><br>
                                    <input class="form-check-input" required="" type="radio" name="payment_option"
                                        id="exampleRadios1" value="Wallet">
                                    <label class="form-check-label" for="exampleRadios1">Wallet</label>
                                </div>
                                <div class="form-group collapse in" id="bankTranfer">

                                </div>
                            </div>

                            <a onclick="PlaceOrder()" class="btn btn-fill-out btn-block mt-30" id="confirmbtn">Place
                                Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.jpg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>

                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </footer>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        window.onload = () => {

            const totalPro = document.querySelectorAll('.productTotal')
            const totalprice = Array.from(totalPro)
            console.log("===>", totalprice)
            const parsedTotal = totalprice.map((el) => {
                return parseInt(el.innerText)
            })
            console.log(parsedTotal)
            const grandTotal = parsedTotal.reduce((acc, el) => {
                return acc += el
            }, 0)

            console.log("===>", grandTotal)
            document.querySelectorAll('.product-subtotal').forEach((el) => {
                el.innerHTML = grandTotal
            })


        }






        const PlaceOrder = () => {
            console.log('enters=de')
            const total = document.getElementById('grandTotals').innerHTML;
            console.log(total,"ergter");
            const couponCode = document.getElementById('couponcode').value;
            console.log(couponCode,"eriierre");
            // Variable to store the selected address ID
            // let selectedAddressId;

            // Get all radio buttons for address selection
            const radioButtons = document.querySelectorAll('input[type="radio"][name="addressSelection"]:checked');
            console.log(radioButtons)

            // Check if a radio button is selected
            if (radioButtons.length > 0) {
                // Get the value of the selected radio button (address ID)
                selectedAddressId = radioButtons[0].value;
                let paymentMethod = document.querySelectorAll('input[type ="radio"][name = "payment_option"]:checked')
                console.log("===>", paymentMethod)
                const selectedPayment = paymentMethod[0].value

                // Optional: Log the selected address ID to the console
                console.log("Selected Address ID:", selectedAddressId);


                // Perform further actions like sending the selected address ID to the server
                // Example AJAX request:

                const response = $.ajax({
                    url: "/orderPlaced",
                    method: "POST",
                    data: { addressId: selectedAddressId, paymentMethod: selectedPayment,total,couponCode  },
                    
                    success: (responce) => {
                        if (responce.payment === 'razorpay') {
                            console.log(responce)

                            var options = {

                                "key": "rzp_test_uTqKInGV5tfzfy", // Enter the Key ID generated from the Dashboard
                                "amount": responce.data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                "currency": "INR",
                                "name": "Transform Kid Toys", //your business name
                                "description": "Test Transaction",
                                "image": "https://example.com/your_logo",
                                "order_id": responce.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                "handler": function (response) {
                                    alert(response.razorpay_payment_id);
                                    alert(response.razorpay_order_id);
                                    alert(response.razorpay_signature)
                                    alert('verifyPayment')
                                    console.log(responce.data)
                                    verifyPayment(responce.data, response)
                                    window.location.href = ('/placedOrder')
                                },
                                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                                    "name": "Gaurav Kumar", //your customer's name
                                    "email": "gaurav.kumar@example.com",
                                    "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
                                },
                                "notes": {
                                    "address": "Razorpay Corporate Office"
                                },
                                "theme": {
                                    "color": "#3399cc"
                                }
                            };
                            console.log('hi')
                            var rzp1 = new Razorpay(options);
                            rzp1.on('payment.failed', function (response) {
                                alert(response.error.code);
                                alert(response.error.description);
                                alert(response.error.source);
                                alert(response.error.step);
                                alert(response.error.reason);
                                alert(response.error.metadata.order_id);
                                alert(response.error.metadata.payment_id);
                            });
                            console.log('kjjbhjdbhjbhj')
                            console.log(document.getElementById('confirmbtn'))
                            document.getElementById('confirmbtn').onclick = function (e) {
                                console.log('hvhgsvd')
                                rzp1.open();
                                console.log('hhhhhhhhhhhhh')
                                e.preventDefault();
                            }

                        } else if (responce.payment === 'cod') {
                            window.location.href = '/placedOrder'
                        }
                        //   else if(responce.payment==='Wallet'){
                        //     console.log('Redirecting to /placedOrder');
                        //    window.location.href=('/placedOrder')
                        //   }

                    },
                    error: (err) => {
    const errorMessage = err.responseText; // Assuming the error message is in the response text
    if (errorMessage.includes('Product is blocked')) {
        // Display SweetAlert warning for blocked product
        Swal.fire({
            icon: 'warning',
            title: 'Product Unavailable',
            text: 'This product is blocked and cannot be ordered.',
            confirmButtonText: 'OK'
        });
    } else {
        // Display general error message using SweetAlert
        Swal.fire({
            icon: 'warning',
            title: 'warning',
            text: 'product is unavailable for this order.',
            confirmButtonText: 'OK'
        });
    }
}

                });

            } else {
                // Notify the user to select an address if none is selected
                alert("Please select an address before placing the order.");
            }
        };



        function verifyPayment(order, payment) {
            console.log('hi')
            console.log(order, "order work");
            console.log(payment, "payment work");




            $.ajax({
                url: "/verifyPayment",
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ order: order, payment: payment }), // Assuming order and payment are objects
                success: function (response) {
                    console.log(response, "success");

                    // Assuming orderId is returned in the response data
                    const orderId = order.receipt;
                    console.log(orderId, "oiosdfiodfndonvd")
                    // Send confirmation request
                    $.ajax({
                        url: '/confirm',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ orderId: orderId }),
                        success: function (confirmResponse) {
                            console.log(confirmResponse);
                            alert('Order confirmed successfully.');
                        },
                        error: function (confirmError) {
                            console.error(confirmError);
                            alert('Error confirming order. Please try again.');
                        }
                    });
                },
                error: function (error) {
                    console.error(error);
                    alert('Error verifying payment. Please try again.');
                }
            });


        }

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })


        //coupon code copy

        $(document).ready(function () {
            $('.copy-code-btn').click(function (event) {
                event.preventDefault(); // Prevent default form submission behavior
                var codeToCopy = $(this).data('code');
                navigator.clipboard.writeText(codeToCopy)
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(codeToCopy).select();
                // document.execCommand('copy');
                tempInput.remove();
                alert('Coupon code copied: ' + codeToCopy);
            });
        });



    </script>







    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
            const applyCouponBtn = document.getElementById('applyCouponBtn');
            applyCouponBtn.addEventListener('click', applyCoupon);

            // Show the Remove Coupon button
        });

        async function applyCoupon() {
            try {
              
                console.log('applycoupon');
                const code = document.getElementById('couponcode').value
               
                console.log(code);
                const total = document.getElementById('grandTotals').innerHTML;
                console.log('total',total);
                console.log('before Checking');

                const url = '/applycoupon';
                const postdata = {
                    couponCode: code,
                    totalPrice: total
                };

                const res = await fetch(url, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(postdata) });
                const data = await res.json();
                const { reduction } = data;
                console.log(data)
                console.log('reduction', reduction);

                if (res.status === 200) {
                    applyCouponBtn.style.display = 'none'; // Hide the Apply Coupon button
                removeCouponBtn.style.display = 'block';
                availableCouponBtn.style.display='none';//hiding the available coupon button
                    await Swal.fire({ icon: 'success', title: 'Coupon Applied Sucessfully' });
                    document.getElementById('grandTotals').innerHTML = data.reduction;
                    document.getElementById('discount').innerHTML=data.discount;  
                } else if (data.errorMessage) {
                   //error passes from backend
                   await Swal.fire({ icon: 'error', title: 'Error', text: data.errorMessage });   
                              

                } else {
                    Swal.fire({ icon: 'error', title: data.message });
                }
            } catch (error) {
                console.error('Error in applying coupon:', error);
                Swal.fire({ icon: 'error', title: 'Error', text: 'An error occurred while applying the coupon.' });
            }
        }


///................................................................................................................
        document.addEventListener('DOMContentLoaded', function () {
            const removeCouponBtn = document.getElementById('removeCouponBtn');
            removeCouponBtn.addEventListener('click', removeCoupon);
            
            
        });
        
    async function removeCoupon(){
    try {

        removeCouponBtn.style.display='none';
        applyCouponBtn.style.display='block';  
        availableCouponBtn.style.display='block';
    document.getElementById('couponcode').value=' ' ;        
    let value=parseInt(document.getElementById('grandTotals').innerHTML) // Reset to default value or leave empty
    let value2=parseInt(document.getElementById('discount').innerHTML )
    let totalValue= value+value2
    document.getElementById('grandTotals').innerHTML=totalValue
    document.getElementById('discount').innerHTML=' ';

        // Show success message
        Swal.fire({ icon: 'success', title: 'Coupon Removed Successfully' })
   
    } catch (error) {
        console.error('Error in removing coupon:', error);
        Swal.fire({ icon: 'error', title: 'Error', text: 'An error occurred while removing the coupon.' });
    }
}
       



      



    </script>

    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.4"></script>
    <script src="./assets/js/shop.js?v=3.4"></script>








</body>

</html>